@use "../__modules__/sass-font-face" as *;

// Iran Sans Farsi Degits
@include font-face(
	(
		font-family: 'Iran Yekan FD',
		suffix: ttf woff svg,
		weight: 100 300 400 500 600 700 800 900,
		url: '../fonts/iranyekan/fd/WEIGHT.SUFFIX',
	)
);

// Iran Sans English Degits
@include font-face(
	(
		font-family: 'Iran Yekan ED',
		suffix: ttf woff woff2 svg,
		weight: 100 300 400 500 600 700 800 900,
		url: '../fonts/iranyekan/ed/WEIGHT.SUFFIX',
	)
);
