$font-size: (
	xs: (
		fz: $fz-xs,
		lh: $lh-4,
	),
	sm: (
		fz: $fz-sm,
		lh: $lh-5,
	),
	base: (
		fz: $fz-base,
		lh: $lh-6,
	),
	lg: (
		fz: $fz-lg,
		lh: $lh-7,
	),
	xl: (
		fz: $fz-xl,
		lh: $lh-7,
	),
	2xl: (
		fz: $fz-2xl,
		lh: $lh-8,
	),
	3xl: (
		fz: $fz-3xl,
		lh: $lh-9,
	),
	4xl: (
		fz: $fz-4xl,
		lh: $lh-10,
	),
	5xl: (
		fz: $fz-5xl,
		lh: 1,
	),
	6xl: (
		fz: $fz-6xl,
		lh: 1,
	),
	7xl: (
		fz: $fz-7xl,
		lh: 1,
	),
	8xl: (
		fz: $fz-8xl,
		lh: 1,
	),
	9xl: (
		fz: $fz-9xl,
		lh: 1,
	),
);