$icons-font-family: uicons-regular-straight;

$icons: (
	add: '\f101',
	alarm-clock: '\f102',
	align-center: '\f103',
	align-justify: '\f104',
	align-left: '\f105',
	align-right: '\f106',
	ambulance: '\f107',
	angle-double-left: '\f108',
	angle-double-right: '\f109',
	angle-double-small-left: '\f10a',
	angle-double-small-right: '\f10b',
	angle-down: '\f10c',
	angle-left: '\f10d',
	angle-right: '\f10e',
	angle-small-down: '\f10f',
	angle-small-left: '\f110',
	angle-small-right: '\f111',
	angle-small-up: '\f112',
	angle-up: '\f113',
	apps-add: '\f114',
	apps-delete: '\f115',
	apps-sort: '\f116',
	apps: '\f117',
	archive: '\f118',
	arrow-down: '\f119',
	arrow-left: '\f11a',
	arrow-right: '\f11b',
	arrow-small-down: '\f11c',
	arrow-small-left: '\f11d',
	arrow-small-right: '\f11e',
	arrow-small-up: '\f11f',
	arrow-up: '\f120',
	asterisk: '\f121',
	backpack: '\f122',
	badge: '\f123',
	ban: '\f124',
	band-aid: '\f125',
	bank: '\f126',
	barber-shop: '\f127',
	baseball: '\f128',
	basketball: '\f129',
	bell-ring: '\f12a',
	bell-school: '\f12b',
	bell: '\f12c',
	billiard: '\f12d',
	bold: '\f12e',
	book-alt: '\f12f',
	book: '\f130',
	bookmark: '\f131',
	bowling: '\f132',
	box-alt: '\f133',
	box: '\f134',
	briefcase: '\f135',
	broom: '\f136',
	browser: '\f137',
	brush: '\f138',
	bug: '\f139',
	building: '\f13a',
	bulb: '\f13b',
	calculator: '\f13c',
	calendar: '\f13d',
	camera: '\f13e',
	caret-down: '\f13f',
	caret-left: '\f140',
	caret-right: '\f141',
	caret-up: '\f142',
	check: '\f143',
	checkbox: '\f144',
	chess: '\f145',
	circle-small: '\f146',
	circle: '\f147',
	clip: '\f148',
	clock: '\f149',
	cloud-check: '\f14a',
	cloud-disabled: '\f14b',
	cloud-download: '\f14c',
	cloud-share: '\f14d',
	cloud-upload: '\f14e',
	cloud: '\f14f',
	comment-alt: '\f150',
	comment: '\f151',
	compress-alt: '\f152',
	compress: '\f153',
	computer: '\f154',
	cookie: '\f155',
	copy-alt: '\f156',
	copy: '\f157',
	copyright: '\f158',
	cream: '\f159',
	credit-card: '\f15a',
	cross-circle: '\f15b',
	cross-small: '\f15c',
	cross: '\f15d',
	crown: '\f15e',
	cursor-finger: '\f15f',
	cursor-plus: '\f160',
	cursor-text-alt: '\f161',
	cursor-text: '\f162',
	cursor: '\f163',
	dart: '\f164',
	dashboard: '\f165',
	data-transfer: '\f166',
	database: '\f167',
	delete: '\f168',
	diamond: '\f169',
	dice: '\f16a',
	diploma: '\f16b',
	disk: '\f16c',
	doctor: '\f16d',
	document-signed: '\f16e',
	document: '\f16f',
	dollar: '\f170',
	download: '\f171',
	duplicate: '\f172',
	e-learning: '\f173',
	earnings: '\f174',
	edit-alt: '\f175',
	edit: '\f176',
	envelope: '\f177',
	euro: '\f178',
	exclamation: '\f179',
	expand: '\f17a',
	eye-crossed: '\f17b',
	eye-dropper: '\f17c',
	eye: '\f17d',
	feather: '\f17e',
	file-add: '\f17f',
	file-ai: '\f180',
	file-check: '\f181',
	file-delete: '\f182',
	file-eps: '\f183',
	file-gif: '\f184',
	file-music: '\f185',
	file-psd: '\f186',
	file: '\f187',
	fill: '\f188',
	film: '\f189',
	filter: '\f18a',
	fingerprint: '\f18b',
	flag: '\f18c',
	flame: '\f18d',
	flip-horizontal: '\f18e',
	folder-add: '\f18f',
	folder: '\f190',
	following: '\f191',
	football: '\f192',
	form: '\f193',
	forward: '\f194',
	ftp: '\f195',
	gallery: '\f196',
	glasses: '\f197',
	globe-alt: '\f198',
	globe: '\f199',
	golf: '\f19a',
	graduation-cap: '\f19b',
	graphic-tablet: '\f19c',
	grid-alt: '\f19d',
	grid: '\f19e',
	gym: '\f19f',
	headphones: '\f1a0',
	headset: '\f1a1',
	heart: '\f1a2',
	home: '\f1a3',
	hourglass-end: '\f1a4',
	hourglass: '\f1a5',
	ice-skate: '\f1a6',
	id-badge: '\f1a7',
	inbox: '\f1a8',
	incognito: '\f1a9',
	indent: '\f1aa',
	infinity: '\f1ab',
	info: '\f1ac',
	interactive: '\f1ad',
	interlining: '\f1ae',
	interrogation: '\f1af',
	italic: '\f1b0',
	jpg: '\f1b1',
	key: '\f1b2',
	keyboard: '\f1b3',
	label: '\f1b4',
	laptop: '\f1b5',
	lasso: '\f1b6',
	layers: '\f1b7',
	layout-fluid: '\f1b8',
	letter-case: '\f1b9',
	life-ring: '\f1ba',
	line-width: '\f1bb',
	link: '\f1bc',
	lipstick: '\f1bd',
	list-check: '\f1be',
	list: '\f1bf',
	location-alt: '\f1c0',
	lock-alt: '\f1c1',
	lock: '\f1c2',
	magic-wand: '\f1c3',
	makeup-brush: '\f1c4',
	marker-time: '\f1c5',
	marker: '\f1c6',
	medicine: '\f1c7',
	megaphone: '\f1c8',
	menu-burger: '\f1c9',
	menu-dots-vertical: '\f1ca',
	menu-dots: '\f1cb',
	microphone: '\f1cc',
	minus-small: '\f1cd',
	minus: '\f1ce',
	mobile: '\f1cf',
	mode-landscape: '\f1d0',
	mode-portrait: '\f1d1',
	money: '\f1d2',
	mouse: '\f1d3',
	music-alt: '\f1d4',
	music: '\f1d5',
	network-cloud: '\f1d6',
	network: '\f1d7',
	notebook: '\f1d8',
	opacity: '\f1d9',
	package: '\f1da',
	paint-brush: '\f1db',
	palette: '\f1dc',
	paper-plane: '\f1dd',
	password: '\f1de',
	pause: '\f1df',
	pencil: '\f1e0',
	pharmacy: '\f1e1',
	physics: '\f1e2',
	picture: '\f1e3',
	ping-pong: '\f1e4',
	play-alt: '\f1e5',
	play: '\f1e6',
	playing-cards: '\f1e7',
	plus-small: '\f1e8',
	plus: '\f1e9',
	poker-chip: '\f1ea',
	portrait: '\f1eb',
	pound: '\f1ec',
	power: '\f1ed',
	presentation: '\f1ee',
	print: '\f1ef',
	protractor: '\f1f0',
	pulse: '\f1f1',
	quote-right: '\f1f2',
	rec: '\f1f3',
	receipt: '\f1f4',
	rectangle-horizontal: '\f1f5',
	rectangle-panoramic: '\f1f6',
	rectangle-vertical: '\f1f7',
	redo: '\f1f8',
	reflect: '\f1f9',
	refresh: '\f1fa',
	resize: '\f1fb',
	resources: '\f1fc',
	rewind: '\f1fd',
	rocket: '\f1fe',
	rotate-right: '\f1ff',
	rugby: '\f200',
	scale: '\f201',
	school-bus: '\f202',
	school: '\f203',
	scissors: '\f204',
	screen: '\f205',
	search-alt: '\f206',
	search: '\f207',
	settings-sliders: '\f208',
	settings: '\f209',
	share: '\f20a',
	shield-check: '\f20b',
	shield-exclamation: '\f20c',
	shield-interrogation: '\f20d',
	shield-plus: '\f20e',
	shield: '\f20f',
	shop: '\f210',
	shopping-bag-add: '\f211',
	shopping-bag: '\f212',
	shopping-cart-add: '\f213',
	shopping-cart-check: '\f214',
	shopping-cart: '\f215',
	shuffle: '\f216',
	sign-in: '\f217',
	sign-out: '\f218',
	signal-alt-1: '\f219',
	signal-alt-2: '\f21a',
	signal-alt: '\f21b',
	skateboard: '\f21c',
	smartphone: '\f21d',
	soap: '\f21e',
	spa: '\f21f',
	speaker: '\f220',
	spinner-alt: '\f221',
	spinner: '\f222',
	square-root: '\f223',
	square: '\f224',
	star: '\f225',
	stats: '\f226',
	stethoscope: '\f227',
	sticker: '\f228',
	stop: '\f229',
	stopwatch: '\f22a',
	subtitles: '\f22b',
	surfing: '\f22c',
	sword: '\f22d',
	syringe: '\f22e',
	tablet: '\f22f',
	target: '\f230',
	tennis: '\f231',
	test-tube: '\f232',
	test: '\f233',
	text-check: '\f234',
	text: '\f235',
	thumbs-down: '\f236',
	thumbs-up: '\f237',
	ticket: '\f238',
	time-add: '\f239',
	time-check: '\f23a',
	time-delete: '\f23b',
	time-fast: '\f23c',
	time-forward-sixty: '\f23d',
	time-forward-ten: '\f23e',
	time-forward: '\f23f',
	time-half-past: '\f240',
	time-oclock: '\f241',
	time-past: '\f242',
	time-quarter-past: '\f243',
	time-quarter-to: '\f244',
	time-twenty-four: '\f245',
	tool-crop: '\f246',
	tool-marquee: '\f247',
	tooth: '\f248',
	transform: '\f249',
	trash: '\f24a',
	treatment: '\f24b',
	trophy: '\f24c',
	umbrella: '\f24d',
	underline: '\f24e',
	undo: '\f24f',
	unlock: '\f250',
	upload: '\f251',
	usb-drive: '\f252',
	user-add: '\f253',
	user-delete: '\f254',
	user-remove: '\f255',
	user-time: '\f256',
	user: '\f257',
	users: '\f258',
	vector-alt: '\f259',
	vector: '\f25a',
	video-camera: '\f25b',
	volleyball: '\f25c',
	volume: '\f25d',
	wifi-alt: '\f25e',
	world: '\f25f',
	yen: '\f260',
	zoom-in: '\f261',
	zoom-out: '\f262',
);
