:root {
  --font-fa: "Iran Yekan FD";
  --font-fa-ed: "Iran Yekan ED";
  --font-en: "Montserrat";
  --font-fa-en: "Iran Yekan FD", "Montserrat";
  --font-faed-en: "Iran Yekan ED", "Montserrat";
}

html[lang=en] {
  --font-fa: "Iran Yekan ED";
  --font-fa-en: "Montserrat", "Iran Yekan ED";
}

:root {
  --header-mobile-top-height: 3.5rem;
  --header-mobile-bottom-height: 3.5rem;
  --header-mobile-height: calc(var(--header-mobile-top-height) + var(--header-mobile-bottom-height));
  --header-desktop-top-height: 4.25rem;
  --header-desktop-bottom-height: 2.75rem;
  --header-desktop-height: calc(var(--header-desktop-top-height) + var(--header-desktop-bottom-height));
  --header-h: var(--header-mobile-height);
}
@media only screen and (min-width: 768px) {
  :root {
    --header-mobile-top-height: unset;
    --header-mobile-bottom-height: unset;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --header-h: var(--header-desktop-height);
  }
  :root body.hide-secondary-menu {
    --header-h: calc(var(--header-desktop-height) - var(--header-desktop-bottom-height));
  }
}

* {
  padding: 0;
  margin: 0;
  border-width: 0;
  outline: unset;
  background: transparent;
  font-size: unset;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  width: 100%;
}

ol, ul {
  list-style: none;
}

figure {
  width: 100%;
}

label {
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

a {
  color: unset;
}

button:not(disabled), a {
  cursor: pointer;
}

img {
  border: unset !important;
}

@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/100.ttf") format("truetype"), url("../fonts/iranyekan/fd/100.woff") format("woff"), url("../fonts/iranyekan/fd/100.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/300.ttf") format("truetype"), url("../fonts/iranyekan/fd/300.woff") format("woff"), url("../fonts/iranyekan/fd/300.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/400.ttf") format("truetype"), url("../fonts/iranyekan/fd/400.woff") format("woff"), url("../fonts/iranyekan/fd/400.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/500.ttf") format("truetype"), url("../fonts/iranyekan/fd/500.woff") format("woff"), url("../fonts/iranyekan/fd/500.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/600.ttf") format("truetype"), url("../fonts/iranyekan/fd/600.woff") format("woff"), url("../fonts/iranyekan/fd/600.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/700.ttf") format("truetype"), url("../fonts/iranyekan/fd/700.woff") format("woff"), url("../fonts/iranyekan/fd/700.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/800.ttf") format("truetype"), url("../fonts/iranyekan/fd/800.woff") format("woff"), url("../fonts/iranyekan/fd/800.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan FD";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/iranyekan/fd/900.ttf") format("truetype"), url("../fonts/iranyekan/fd/900.woff") format("woff"), url("../fonts/iranyekan/fd/900.svg#Iran_Yekan_FD") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/100.ttf") format("truetype"), url("../fonts/iranyekan/ed/100.woff") format("woff"), url("../fonts/iranyekan/ed/100.woff2") format("woff2"), url("../fonts/iranyekan/ed/100.svg#Iran_Yekan_ED") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/300.ttf") format("truetype"), url("../fonts/iranyekan/ed/300.woff") format("woff"), url("../fonts/iranyekan/ed/300.woff2") format("woff2"), url("../fonts/iranyekan/ed/300.svg#Iran_Yekan_ED") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/400.ttf") format("truetype"), url("../fonts/iranyekan/ed/400.woff") format("woff"), url("../fonts/iranyekan/ed/400.woff2") format("woff2"), url("../fonts/iranyekan/ed/400.svg#Iran_Yekan_ED") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/500.ttf") format("truetype"), url("../fonts/iranyekan/ed/500.woff") format("woff"), url("../fonts/iranyekan/ed/500.woff2") format("woff2"), url("../fonts/iranyekan/ed/500.svg#Iran_Yekan_ED") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/600.ttf") format("truetype"), url("../fonts/iranyekan/ed/600.woff") format("woff"), url("../fonts/iranyekan/ed/600.woff2") format("woff2"), url("../fonts/iranyekan/ed/600.svg#Iran_Yekan_ED") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/700.ttf") format("truetype"), url("../fonts/iranyekan/ed/700.woff") format("woff"), url("../fonts/iranyekan/ed/700.woff2") format("woff2"), url("../fonts/iranyekan/ed/700.svg#Iran_Yekan_ED") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/800.ttf") format("truetype"), url("../fonts/iranyekan/ed/800.woff") format("woff"), url("../fonts/iranyekan/ed/800.woff2") format("woff2"), url("../fonts/iranyekan/ed/800.svg#Iran_Yekan_ED") format("svg");
}
@font-face {
  font-family: "Iran Yekan ED";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/iranyekan/ed/900.ttf") format("truetype"), url("../fonts/iranyekan/ed/900.woff") format("woff"), url("../fonts/iranyekan/ed/900.woff2") format("woff2"), url("../fonts/iranyekan/ed/900.svg#Iran_Yekan_ED") format("svg");
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}
::-webkit-scrollbar-thumb {
  background: rgba(33, 35, 39, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(145, 71, 255, 0.8);
}

html[dir=rtl] .fi-rs-shopping-cart,
html[dir=rtl] .fi-rs-document,
html[dir=rtl] .fi-rs-diploma,
html[dir=rtl] .fi-rs-search,
html[dir=rtl] .fi-rs-filter,
html[dir=rtl] .fi-rs-settings-sliders,
html[dir=rtl] .fi-rs-quote-right,
html[dir=rtl] .fi-rs-sign-out {
  transform: scaleX(-1);
}
html[dir=rtl] .fi-rs-redo::before {
  content: "\f24f";
}
html[dir=rtl] .fi-rs-undo::before {
  content: "\f1f8";
}

html[dir=ltr] .fi-rs-angle-right::before {
  content: "\f10d";
}
html[dir=ltr] .fi-rs-angle-left::before {
  content: "\f10e";
}
html[dir=ltr] .fi-rs-angle-small-right::before {
  content: "\f110";
}
html[dir=ltr] .fi-rs-angle-small-left::before {
  content: "\f111";
}
html[dir=ltr] .fi-rs-angle-double-right::before {
  content: "\f108";
}
html[dir=ltr] .fi-rs-angle-double-left::before {
  content: "\f109";
}
html[dir=ltr] .fi-rs-angle-double-small-right::before {
  content: "\f10a";
}
html[dir=ltr] .fi-rs-angle-double-small-left::before {
  content: "\f10b";
}
html[dir=ltr] .fi-rs-caret-right::before {
  content: "\f140";
}
html[dir=ltr] .fi-rs-caret-left::before {
  content: "\f141";
}
html[dir=ltr] .fi-rs-arrow-right::before {
  content: "\f11a";
}
html[dir=ltr] .fi-rs-arrow-left::before {
  content: "\f11b";
}
html[dir=ltr] .fi-rs-arrow-small-right::before {
  content: "\f11d";
}
html[dir=ltr] .fi-rs-arrow-small-left::before {
  content: "\f11e";
}

html {
  font-size: 16;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-fa-en);
  background: #F9FAFB;
  color: #374151;
  font-weight: 400;
}

button[disabled] {
  cursor: not-allowed;
}

i {
  line-height: 0;
  color: inherit;
  font-size: 1rem;
}

strong {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.inset-center {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.inset-x-center {
  right: 50%;
  transform: translateX(50%);
}

.inset-y-center {
  top: 50%;
  transform: translateY(-50%);
}

.container-fluid, .container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.container-fluid--xl {
  max-width: 1280px;
}
.container-fluid--xxl {
  max-width: 1536px;
}

@media only screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
@media only screen and (min-width: 1280px) {
  .container--xl {
    max-width: 1280px !important;
  }
}
@media only screen and (min-width: 1536px) {
  .container--xxl {
    max-width: 1536px !important;
  }
}

.text-field {
  width: 100%;
  border-radius: 0.375rem /* 6px */;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.75rem;
  background: white;
  border: 2px solid #D1D5DB;
  transition: 200ms ease-in;
  color: #4B5563;
}
.text-field:not(textarea) {
  height: 2.625rem /* 42px */;
}
@media only screen and (max-width: 768px) {
  .text-field--mobile {
    background: #F3F4F6;
    border-color: #F3F4F6;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.text-field::placeholder {
  color: #9CA3AF;
}
.text-field--error {
  border-color: rgba(239, 35, 60, 0.6);
}
.text-field--2xl:not(textarea) {
  height: 3rem /* 48px */;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.text-field:hover, .text-field:focus {
  border-color: #9CA3AF;
}
.text-field:not(select):focus {
  border-bottom-width: 4px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.selectbox {
  position: relative;
}
.selectbox select {
  appearance: none;
  cursor: pointer;
}
.selectbox::after {
  font-family: uicons-regular-straight;
  content: "\f10f";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: #9CA3AF;
}

.form-field__error {
  color: #EF233C;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.form-field__error::before {
  font-family: uicons-regular-straight;
  content: "\f179";
}
.form-field__description {
  margin-top: 0.5rem;
  display: block;
}

.password-field {
  position: relative;
}
.password-field__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-field__toggle::after {
  font-family: uicons-regular-straight;
  content: "\f17d";
  color: #6B7280;
}
.password-field--visible + .password-field__toggle::after {
  font-family: uicons-regular-straight;
  content: "\f17b";
}

html[dir=rtl] .password-field--visible + .password-field__toggle::after {
  transform: scaleX(-1);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.checkbox input {
  position: relative;
  width: 1.375rem /* 22px */;
  height: 1.375rem /* 22px */;
  border: 2px solid #D1D5DB;
  border-radius: 0.375rem /* 6px */;
  transition: 150ms ease-in-out;
  appearance: none;
  color: inherit;
  cursor: pointer;
}
.checkbox input::after {
  font-family: uicons-regular-straight;
  content: "\f143";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
}
.checkbox input:checked {
  background: #6B7280;
  border-color: #6B7280;
  color: white;
}
.checkbox input:checked::after {
  opacity: 1;
}
.checkbox--brand input:checked {
  background: #EF233C;
  border-color: rgba(239, 35, 60, 0.6);
}
.checkbox--brand input:checked {
  background: #EF233C;
  border-color: #EF233C;
}

.radiobox {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid #D1D5DB;
  background: white;
  cursor: pointer;
  transition: 150ms ease-in-out;
  border-radius: 100%;
}
.radiobox::after {
  content: "";
  background: white;
  width: 10px;
  height: 10px;
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  border-radius: 100%;
}
.radiobox:checked {
  background: #EF233C;
  border-color: #EF233C;
}
.radiobox:checked::after {
  opacity: 1;
}

textarea {
  padding: 1rem;
}

input {
  font-family: var(--font-faed-en);
}

label {
  display: inline-block;
  text-align: right;
}

.breadcrumb {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}
.breadcrumb::-webkit-scrollbar {
  height: 0;
}
.breadcrumb li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #9CA3AF;
  font-size: 0.75rem /* 12px */;
}
.breadcrumb li:not(:first-of-type)::before {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: uicons-regular-straight;
  content: "\f110";
}
@media only screen and (min-width: 768px) {
  .breadcrumb li:not(:first-of-type)::before {
    content: "/";
  }
}
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #6B7280;
}
.breadcrumb a, .breadcrumb span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: block;
}

html[lang=en] .breadcrumb li:not(:first-of-type)::before {
  font-family: uicons-regular-straight;
  content: "\f111";
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__prev button, .pagination__next button, .pagination__num button {
  width: 2.1875rem /* 35px */;
  height: 2.125rem /* 34px */;
  color: #6B7280;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem /* 6px */;
  transition: 200ms ease-in;
}
.pagination__num:not(pagination__num--active) button:hover, .pagination__num:not(pagination__num--active) button:focus {
  background: #EF233C;
  color: white;
}
.pagination__num--active button {
  background: #EF233C;
  color: white;
}
.pagination__nums {
  display: flex;
  gap: 0.5rem;
}
.pagination__prev, .pagination__next {
  display: flex;
  align-items: center;
}
.pagination__prev button:hover, .pagination__prev button:focus, .pagination__next button:hover, .pagination__next button:focus {
  background: #E5E7EB;
}
.pagination__prev::after, .pagination__next::before {
  content: "";
  height: 1.5rem /* 24px */;
  width: 2px;
  background: #E5E7EB;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}
.pagination__disabled {
  visibility: hidden;
  pointer-events: none;
}

.quantity-selector {
  display: inline-flex;
  color: #EF233C;
  border: 1px solid #E5E7EB;
  border-radius: 0.375rem /* 6px */;
}
.quantity-selector--short-in-stock .quantity-selector__add {
  pointer-events: none;
  color: #D1D5DB;
}
@media only screen and (min-width: 768px) {
  .quantity-selector--short-in-stock.quantity-selector--added-1-item .quantity-selector__remove {
    pointer-events: none;
    color: #D1D5DB;
  }
}
.quantity-selector--unavailable-in-stock .quantity-selector__add,
.quantity-selector--unavailable-in-stock .quantity-selector__number {
  display: none;
}
.quantity-selector--unavailable-in-stock .quantity-selector__remove {
  width: 6.75rem /* 108px */;
}
@media only screen and (min-width: 768px) {
  .quantity-selector--unavailable-in-stock {
    display: none;
  }
}
.quantity-selector--added-1-item .quantity-selector__remove::before {
  font-family: uicons-regular-straight;
  content: "\f24a";
}
@media only screen and (min-width: 768px) {
  .quantity-selector--added-1-item .quantity-selector__remove::before {
    font-family: uicons-regular-straight;
    content: "\f1cd";
  }
}
.quantity-selector--added-more-than-1-item .quantity-selector__remove::before {
  font-family: uicons-regular-straight;
  content: "\f1cd";
}
.quantity-selector__add, .quantity-selector__remove, .quantity-selector__number {
  width: 2.25rem /* 36px */;
  height: 2.25rem /* 36px */;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-selector__add:not([disabled]):hover, .quantity-selector__remove:not([disabled]):hover {
  background: #F3F4F6;
}
.quantity-selector__add[disabled], .quantity-selector__remove[disabled] {
  pointer-events: none;
  color: #D1D5DB;
}
.quantity-selector__add::before {
  font-family: uicons-regular-straight;
  content: "\f1e8";
}
.quantity-selector__remove::before {
  font-family: uicons-regular-straight;
  content: "\f1cd";
}

[easytab-tabs] {
  position: relative;
}
[easytab-tabs]::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: #F9FAFB;
}

[easytab-tab] {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: 200ms ease-in-out;
  color: #6B7280;
}
[easytab-tab]::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 4px;
  transition: 200ms ease-in-out;
}
[easytab-tab].active::after {
  width: 100%;
  background: #EF233C;
}

[easytab-content] {
  padding: 1.5rem;
}

:root {
  --swiper-theme-color: $brand;
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-color: white;
}

.swiper {
  width: 100%;
  border-radius: 0.375rem /* 6px */;
}
.swiper-slide img {
  border-radius: 0.375rem /* 6px */;
}
.swiper-pagination {
  bottom: 1rem !important;
}
.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: #D1D5DB;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #EF233C;
}
.swiper-pagination-bullet-active:hover {
  background: #D90429;
}
.swiper-pagination-bullet-active:focus {
  background: #C80425;
}
.swiper-button-prev, .swiper-button-next {
  width: 3rem !important;
  height: 3rem !important;
  margin-top: unset !important;
  transform: translateY(-50%);
}
.swiper-button-prev {
  left: auto !important;
  right: 0 !important;
}
.swiper-button-next {
  left: 0 !important;
  right: auto !important;
}

.js-home-product-slider .swiper-button-prev,
.js-home-product-slider .swiper-button-next {
  background: white;
  color: #6B7280;
  width: 3.125rem /* 50px */ !important;
  height: 5.625rem /* 90px */ !important;
  pointer-events: all;
}
.js-home-product-slider .swiper-button-prev {
  box-shadow: -1.5px 0 8px 0 rgba(55, 65, 81, 0.1);
  border-radius: 0.375rem /* 6px */ 0 0 0.375rem /* 6px */;
}
.js-home-product-slider .swiper-button-next {
  box-shadow: 1.5px 0 8px 0 rgba(55, 65, 81, 0.1);
  border-radius: 0 0.375rem /* 6px */ 0.375rem /* 6px */ 0;
}

.br-theme-bars-square .br-widget {
  height: unset;
  display: flex;
  gap: 0.5rem;
}

.br-theme-bars-square .br-widget a {
  color: #6B7280;
  border-color: #E5E7EB;
  border-radius: 0.375rem /* 6px */;
  margin: unset;
  transition: 200ms ease-in;
}

.br-theme-bars-square .br-widget a.br-active,
.br-theme-bars-square .br-widget a.br-selected {
  background: #EF233C;
  border-color: #EF233C;
  color: white;
  box-shadow: 0 0 8px rgba(239, 35, 60, 0.2);
}

.c-slider {
  padding-top: 11px;
  padding-bottom: 11px;
}
.c-slider .noUi-touch-area {
  display: none;
}
.c-slider .noUi-target {
  background: #E5E7EB;
  border: none;
  box-shadow: none;
}
.c-slider .noUi-horizontal {
  height: 2px;
}
.c-slider .noUi-horizontal .noUi-handle {
  top: calc(50% + 1px);
  right: 50%;
  left: unset;
  transform: translate(calc(50% - 12px), -50%);
}
.c-slider .noUi-connect {
  background: #EF233C;
}
.c-slider .noUi-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-color: #E5E7EB;
  color: #9CA3AF;
  cursor: pointer;
  border-radius: 99px;
  box-shadow: unset;
}
.c-slider .noUi-handle::before, .c-slider .noUi-handle::after {
  all: unset;
}
.c-slider .noUi-handle-lower {
  margin-right: 10px;
}
.c-slider .noUi-handle-lower::before {
  font-family: uicons-regular-straight;
  content: "\f110";
}
.c-slider .noUi-handle-upper {
  margin-left: 10px;
}
.c-slider .noUi-handle-upper::before {
  font-family: uicons-regular-straight;
  content: "\f111";
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  width: 100%;
}
table, table td, table th {
  border: 1px solid #D1D5DB;
  border-collapse: collapse;
}

th, td {
  text-align: right;
}

th {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  font-weight: 500;
}

td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-color: #E5E7EB;
}

tbody tr:not(.h-2):not(.last:h-0) {
  border-collapse: collapse;
  border-bottom: 1px solid #E5E7EB;
}
tbody tr:not(.h-2):not(.last:h-0):last-of-type {
  border-bottom: unset;
}

.image-zoom-over {
  position: relative;
  background-position: 50% 50%;
  overflow: hidden;
  cursor: zoom-in;
}
.image-zoom-over img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
.image-zoom-over img:hover {
  opacity: 0;
}

:root {
  --plyr-color-main: #3D42DF;
}

.plyr {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

video[playsinline],
video[data-poster],
.plyr,
.plyr__poster,
.plyr__video-wrapper {
  border-radius: 0.375rem /* 6px */;
  overflow: hidden;
}

.link,
.content-link {
  color: #EF233C;
  transition: 150ms color ease-in-out;
}
.link:hover,
.content-link:hover {
  color: #D90429;
}
