@font-face {
  font-family: 'skit';
  src:
    url('fonts/skit.ttf?64bt6a') format('truetype'),
    url('fonts/skit.woff?64bt6a') format('woff'),
    url('fonts/skit.svg?64bt6a#skit') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'skit' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sk-edit-alt:before {
  content: "\e900";
}
.sk-discord:before {
  content: "\e901";
}
.sk-github:before {
  content: "\e902";
}
.sk-close:before {
  content: "\e903";
}
.sk-angle-down:before {
  content: "\e904";
}
.sk-megaphone:before {
  content: "\e905";
}
.sk-lang:before {
  content: "\e906";
}
